/*common --------------------------------------------------------------*/
:root {
  --color-black: #212121;
  --color-bgblack: #757575;
  --color-white: #fff;
  --color-gray: #bdbdbd;
  --color-bggray: #f6f5f4;
  --color-primary: #3f51b5;
  --color-lightprimary: #c5cae9;
  --color-darkprimary: #303f9f;
  --color-acceent: #ffc107;
  --font-point: "NanumSquare", Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", sans-serif;
  --font-size-small: 0.75rem;
  --font-size-basic: 0.875rem;
  --font-size-em: 1rem;
  --font-size-big: 1.125rem;
  --font-size-title: 1.625rem;
  --font-size-titleem: 2rem;
  --styles-boxShadow: 0 0.75rem 1.875rem rgb(80 143 244 / 10%);
  --styles-boxShadowDeep: 0 0.1875rem 0.6875rem rgb(0 0 0 / 17%);
}
i {
  color: var(--color-lightprimary);
}

#wrap {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  #wrap {
    display: grid;
    grid-template-columns: 20vw 1fr;
  }
  #wrap::before,
  #wrap:before {
    content: "";
    height: 3.125rem;
    transition: all 300ms ease-in;
  }
}
@media screen and (min-width: 1200px) {
  #wrap {
    display: grid;
    grid-template-columns: 16.875rem 1fr;
  }
  #wrap::before,
  #wrap:before {
    content: "";
    height: 3.125rem;
    transition: all 300ms ease-in;
  }
}

/*container --------------------------------------------------------------*/
.containerWrap {
  position: relative;
  width: 100%;
  height: auto;
  padding: 1.25rem;
  background-color: var(--color-bggray);
}
@media screen and (max-width: 992px) {
  .containerWrap {
    padding-top: 5rem;
  }
}
.contentBox {
  width: 100%;
  max-width: 1280px;
  min-width: 1120px;
  height: auto;
}

/*title - content title wrap& title content*/
.containerWrap h2 {
  width: auto;
  height: 50px;
  font-size: var(--font-size-title);
  font-family: var(--font-point);
  font-weight: 700;
  color: var(--color-black);
}

/* 컨텐츠 영역 --------------------------------------------------------------*/
.commonBox {
  width: 100%;
  height: auto;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  padding: 0.625rem;
  margin-bottom: 0.25rem;
}
.commonBox:last-child {
  margin-bottom: 0;
}
.commonBox h3 {
  font-size: var(--font-size-title);
}

/*footer --------------------------------------------------------------*/
.footer {
  width: 100%;
  height: 1.5rem;
  background-color: var(--color-bgblack);
}
.footer span {
  display: inline-block;
  width: 100%;
  height: auto;
  color: var(--color-white);
  line-height: 1.5rem;
  text-align: center;
  font-size: var(--font-size-small);
}

/*header --------------------------------------------------------------*/

.headerWrap {
  width: 100%;
  height: 2rem;
}
@media screen and (max-width: 992px) {
  .headerWrap {
    position: fixed;
    z-index: 1;
  }
  .headerWrap::before {
    position: absolute;
    display: block;
    z-index: -1;
    content: "";
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--color-white);
    opacity: 0.8;
  }
}

.headerBox {
  width: 100%;
  max-width: 1280px;
  min-width: 1120px;
  height: 100%;
}
.infoWrap {
  display: flex;
  justify-content: right;
  width: 100%;
  height: 100%;
}
.infoWrap button {
  text-align: right;
  width: 80px;
  height: 100%;
}

/*title - menu open button*/
.openBtn {
  float: left;
  width: 1.25rem;
  height: auto;
  padding-top: 0.8125rem;
  margin-right: 0.9375rem;
}
@media screen and (min-width: 992px) {
  .openBtn {
    display: none;
  }
}

.openBtn i {
  width: 100%;
  height: 100%;
  font-size: var(--font-size-big);
}

/*navigator --------------------------------------------------------------*/
.navigationWrap {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 16.875rem;
  height: 100%;
  background-color: var(--color-primary);
  transition: all 500ms ease-in;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .navigationWrap {
    width: 20vw;
  }
}
@media screen and (min-width: 1200px) {
  .navigationWrap {
    width: 16.875rem;
  }
}

.navigationWrap.hide {
  left: -16.875rem;
}
.navigationWrap.show {
  left: 0;
}

.navTop {
  width: auto;
  height: auto;
  padding: 1.875rem;
}

.navTop img {
  display: block;
  width: 10rem;
  height: auto;
  margin: 0 auto;
}

.navTop button {
  position: absolute;
  top: 0.8125rem;
  left: 0.625rem;
  width: 2.5rem;
  height: 2.5rem;
}

.navTop i {
  font-size: var(--font-size-big);
  color: var(--color-lightprimary);
}

@media screen and (min-width: 992px) {
  #nav_close_btn {
    display: none;
  }
}

/*title - navInner : 하위 메뉴가 열리는 nav button*/
.navBottom {
  width: 100%;
  height: auto;
  padding: 8px;
}
.navBottom ul {
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  padding: 4px;
}

.navInner {
  width: 100%;
  height: auto;
  margin-bottom: 0.625rem;
}
.navInner:last-child {
  margin-bottom: 0;
}

.navInner li:last-child {
  border-bottom: none;
}

.navHeaderPart {
  width: 100%;
  height: auto;
  line-height: 30px;
  background-color: var(--color-darkprimary);
  padding-left: 5px;
}

.navHeaderPart span {
  color: var(--color-white);
  font-size: var(--font-size-basic);
  font-weight: 500;
}
.navContentPart {
  width: 100%;
  height: auto;
}
.navContentPart li {
  width: 100%;
  height: auto;
  padding: 0 10px;
  line-height: 28px;
  border-bottom: 1px solid var(--color-bggray);
}
.navContentPart a {
  text-decoration: none;
  font-size: var(--font-size-small);
  font-weight: 400;
}
.navContentPart .focusNavLink {
  font-weight: 700;
  color: var(--color-darkprimary);
}

/* 로그인 --------------------------------------------------------------*/
.loginWrap {
  position: absolute;
  background-color: var(--color-primary);
  width: 100%;
  height: 100%;
  padding: 0 1rem;
}

.loginWrap .loginBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 6rem 1.875rem 0;
  width: 37.5rem;
  height: 25rem;
  transition: all 300ms ease-in;
}
.loginBox h3 {
  margin-bottom: 1.25rem;
  text-align: center;
}
.loginWrap .loginBox label {
  background-color: transparent;
  border: none;
}
.loginWrap .loginBox input {
  height: 32px;
}

@media screen and (max-width: 767px) {
  .loginWrap .loginBox {
    padding: 0.625rem;
    padding-top: 4.5rem;
    width: 20rem;
    height: 30.25rem;
  }
}
.widthFullButton {
  width: 100%;
  height: 2.5rem;
  border-radius: 0.3125rem;
  transition: all 300ms ease-in;
  color: var(--color-black);
  background-color: var(--color-bggray);
}
.widthFullButton:hover {
  background-color: var(--color-gray);
}
.widthFullButton:focus {
  background-color: var(--color-darkprimary);
  color: var(--color-white);
  box-shadow: var(--styles-boxShadow);
}

/* 기본적인 form Wrap --------------------------------------------------------------*/
.formLayout {
  width: 100%;
  height: auto;
}

.formLayout .smallSubmitButton {
  right: 0.625rem;
}
.errorMessageWrap {
  position: absolute;
  right: 0;
  bottom: -16px;
  display: block;
  width: 100%;
  height: auto;
  color: var(--color-acceent);
  text-align: right;
  font-size: var(--font-size-small);
}

.formLayout .blockLabel {
  display: block;
  height: auto;
  min-height: 2rem;
  font-size: var(--font-size-basic);
  line-height: 2rem;
  font-weight: 500;
  color: var(--color-black);
  width: 150px;
  background-color: var(--color-bggray);
  border: 1px solid var(--color-gray);
}

.formLayout input {
  width: 100%;
  height: 2rem;
  background-color: rgba(243, 244, 243, 0.3);
  border: 0.0625rem solid var(--color-bggray);
}
.formLayout input:focus,
.listSearchForm input:focus {
  transition: all 300ms ease-in;
  border: 0.0625rem solid var(--color-lightprimary);
  background-color: var(--color-bggray);
}
.formLayout textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 0.3125rem;
  background-color: rgba(243, 244, 243, 0.3);
  border: 0.0625rem solid var(--color-bggray);
}
.formLayout textarea:focus {
  outline: none;
  transition: all 300ms ease-in;
  border: 0.0625rem solid var(--color-lightprimary);
  background-color: var(--color-bggray);
}

/*form layout 기타 요소*/
.formLayout .fileboxLabel {
  display: block;
  width: 7rem;
  padding: 0.3em 0;
  height: auto;
  font-size: var(--font-size-small);
  text-align: center;
  cursor: pointer;
  border: 0.0625rem solid var(--color-bggray);
  background-color: rgba(243, 244, 243, 0.5);
  transition: all 100ms ease-in;
  margin: 0 auto;
  margin-top: 10px;
}

.fileboxLabel:hover,
.fileboxLabel:active {
  background-color: var(--color-gray);
}

.selectForm select {
  display: inline-block;
  width: 8.125rem;
  height: 2.5rem;
  background-color: var(--color-bggray);
  border-radius: 0.3125rem;
  margin-right: 0.3125rem;
}
.selectForm select:focus {
  outline: none;
}

/*이미지 설정 - 썸네일*/
.imgsThumbnail {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  width: calc(100% - 160px);
  height: auto;
  min-height: 4.5rem;
  background-color: rgba(243, 244, 243, 0.5);
  border: 0.0625rem solid var(--color-bggray);
  padding: 0.2rem;
  margin: 0 auto;
}
.imgsThumbnail > div,
.imgsThumbnail > li {
  width: 4rem;
  height: 4rem;
  background-size: contain;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
}
.imgsThumbnail span {
  display: block;
  font-weight: 400;
  height: auto;
  font-size: var(--font-size-small);
  color: var(--color-lightprimary);
  margin-top: 0.125rem;
}

/*썸네일 클릭 시 확대*/
.imageZoomPopupBox {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.imageZoom {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 700px;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
}

/* 썸네일 삭제 */
.imgRemoveBtn {
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: var(--styles-boxShadow);
}
.imgsThumbnail > div:hover .imgRemoveBtn,
.imgsThumbnail > li:hover .imgRemoveBtn {
  display: block;
}
.imgRemoveBtn svg {
  width: 100%;
  height: 100%;
  color: var(--color-white);
}

/* 라벨 제거한 input basic css (공사콕 배너관리-배너이비지) */
.formContentWrapWithTextValue .basicInputWrap > input {
  border: none;
  background-color: transparent;
  height: auto;
}
.formContentWrapWithTextValue .basicInputWrap > input:focus {
  border-bottom: none;
}

.basicInputWrap .basicWrapLabel {
  cursor: pointer;
  width: 65px;
  height: 20px;
  background-color: var(--color-bggray);
  border: 1px solid var(--color-lightprimary);
  border-radius: 5px;
  text-align: center;
  font-size: var(--font-size-small);
  line-height: 22px;
}

.formWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 100%;
  height: auto;
}
.formWrap fieldset {
  position: relative;
  width: 100%;
  height: auto;
  border: 1px solid var(--color-lightprimary);
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding: 4px;
  margin-top: 20px;
}
.formWrap fieldset > h3 {
  position: absolute;
  top: -10px;
  font-size: var(--font-size-small);
  font-weight: 600;
  background-color: #fff;
  padding: 0 10px;
}

.formContentWrap {
  position: relative;
  display: flex;
  width: 50%;
  height: auto;
  justify-content: left;
  margin-top: 20px;
}
.formContentWrap > div:last-child,
.formContentWrap .detailContent {
  width: calc(100% - 160px);
  height: 100%;
  margin: 0 auto;
}
.formContentWrap div input {
  margin-bottom: 4px;
}
.formContentWrap div input:last-child {
  margin-bottom: 0;
}
.formContentBtn {
  width: 60px;
  height: 34px;
  background-color: var(--color-bggray);
  font-size: var(--font-size-small);
}

.setImageWrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.imgsTitle input {
  width: 20px;
  height: 20px;
  margin-bottom: 0;
}
.detailPageLayout {
  padding: 0;
}
/* keyword 클릭 이벤트 ---------------------------------- */
.keywordWrap {
  position: relative;
  width: 100%;
  height: auto;
}
.keywordWrap > div {
  width: 100%;
  height: 34px;
  display: flex;
  justify-content: space-between;
}
.keywordWrap .keywordInput {
  width: calc(100% - 64px);
  height: 100%;
}

.keywordInput ~ button {
  width: 60px;
  height: 100%;
  background-color: var(--color-bggray);
  font-size: var(--font-size-small);
}
.keywordBox {
  position: absolute;
  top: 0;
  z-index: 1;
  overflow: scroll;
  width: 25.3125rem;
  border: 0.0625rem solid var(--color-bggray);
  background-color: var(--color-white);
  height: 6.875rem;
  padding: 0.25rem;
}
.keywordBox li {
  width: 100%;
  height: auto;
  border-bottom: 0.0625rem solid var(--color-bggray);
}
.keywordBox li:last-child {
  border-bottom: none;
}
.keywordBox span {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.25rem 0;
}
.keywordBox button {
  width: 100%;
  height: 1.25rem;
  text-align: left;
  font-size: var(--font-size-small);
  text-indent: 0.625rem;
}
.keywordBox button:hover {
  background-color: var(--color-bggray);
}
.keywordBox button:focus {
  font-weight: 700;
  background-color: var(--color-gray);
}
.keywordBox button:hover::before {
  display: block;
  content: "추가 +";
  position: absolute;
  right: 0.625rem;
  width: auto;
  height: auto;
  color: var(--color-lightprimary);
}

.keywordSelectWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  height: 100%;
  height: auto;
  background-color: var(--color-bggray);
  padding: 0.625rem;
  margin-top: 0.25rem;
}
.keywordSelectWrap li {
  position: relative;
  width: auto;
  height: auto;
  border-radius: 10px;
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 2px 8px;
  border: 1px solid var(--color-gray);
}
.keywordSelectWrap li:hover::before {
  position: absolute;
  content: "X";
  display: block;
  right: -2px;
  top: -2px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  font-size: 10px;
  text-align: center;
  line-height: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--color-white);
}

/*page --------------------------------------------------------------*/

.detailPageLayout {
  width: 100%;
  height: auto;
  padding: 0 0.625rem;
}
.detailPageLayout .formContentWrap {
  border-bottom: 0.0625rem solid var(--color-bggray);
}
.detailPageLayout .formContentWrap:last-child {
  border: none;
}
.detailPageLayout h4 {
  width: 30%;
  display: block;
  margin: 0.25rem 0;
  font-weight: 500;
  height: auto;
  color: var(--color-black);
}
.detailPageLayout span,
.detailPageLayout p {
  color: var(--color-bgblack);
  display: block;
  width: 100%;
  height: auto;
  min-height: 1.5rem;
}
.detailPageLayout span {
  line-height: 1.5rem;
}
.detailTime {
  width: 100%;
  height: 1.25rem;
  font-size: var(--font-size-small);
  margin-bottom: 1.25rem;
}
.detailTime > div {
  float: right;
  display: flex;
  width: auto;
  height: 1.25rem;
  margin-left: 0.625rem;
}
.detailTime em {
  display: inline-block;
  width: auto;
  height: auto;
  margin-right: 0.4rem;
  color: var(--color-lightprimary);
}
.detailTime > div > span {
  width: 9.375rem;
  height: auto;
  min-height: inherit;
  line-height: inherit;
  display: inline-block;
  color: var(--color-lightprimary);
}
.detailWidthContent {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: left;
}

.detailWidthContent > div,
.detailWidthContent > li,
.commonTable div {
  width: auto;
  height: auto;
  background-size: cover;
  cursor: pointer;
}
.detailWidthContentImg {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.detailWidthContentImg > div {
  width: 19%;
  height: 5rem;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
}
.detailWidthContentImg > div:last-child {
  margin-right: 0;
}
.detailWidthContentCallNum li {
  margin-right: 40px;
}
.detailWidthContent .blind {
  width: 0;
}
.hashTag {
  width: 100%;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.hashTag li {
  width: auto;
  height: auto;
  padding: 0.125rem 0.5rem;
  margin: 0.125rem;
  background-color: var(--color-bggray);
  border-radius: 0.3125rem;
  font-weight: 400;
  font-size: var(--font-size-small);
  line-height: 1.875rem;
}
.detailContentCenter {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 43.75rem;
  height: auto;
}
/* detailPage- 주소:좌표 */
.detailContent {
  width: 100%;
  height: auto;
  display: flex;
}
.detailContent li {
  display: flex;
  width: 50%;
  height: 34px;
}
.detailContent span {
  display: block;
  width: 60px;
  height: 100%;
  text-align: center;
  line-height: 32px;
}
.detailContent input {
  width: calc(100% - 60px);
  height: 100%;
}

/* 사업자 상세정보 확인 하단 리뷰 & 공지사항 */
.detailContentsList li {
  width: calc(25% - 15px);
  height: auto;
  background-color: var(--color-bggray);
  padding: 0.3125rem;
  margin-right: 5px;
}
.detailContentsList li:last-child {
  margin-right: 0;
}
.detailContentsList a {
  display: block;
}
.detailContentsList a:hover {
  text-decoration: none;
}

.detailContentsList h4 {
  font-weight: 700;
  height: 2rem;
  line-height: 2rem;
}
.detailContentsList span {
  display: inline-block;
  height: 2rem;
  font-weight: 400;
  padding-left: 4px;
}
.detailContentsList .link {
  text-align: right;
  height: auto;
  font-weight: 500;
}

.detailContentLink {
  width: 100%;
  height: auto;
}
.detailContentLink a {
  display: inline-block;
  width: auto;
  font-size: var(--font-size-small);
  color: var(--color-lightprimary);
  font-weight: 500;
  transition: color 300ms ease-in;
  padding: 0.25rem 0.625rem;
}
.detailContentLink a:hover {
  color: var(--color-black);
  text-decoration: none;
}
.detailContentImage {
  width: 100%;
  height: auto;
}
.detailContentImage span {
  display: block;
  font-weight: 500;
  color: var(--color-lightprimary);
}
.detailContentImage img {
  width: 100%;
  height: auto;
  margin-bottom: 1.25rem;
}

/*table --------------------------------------------------------------*/
.tableWrap {
  width: 100%;
  height: auto;
}
.commonTable {
  width: 100%;
  height: auto;
}
.commonTable thead {
  border-bottom: 0.0625rem solid var(--color-gray);
  font-size: var(--font-size-basic);
  height: 2.8rem;
  line-height: 2.8rem;
  background-color: var(--color-bggray);
}
.commonTable tr {
  width: 100%;
  height: auto;
}
.commonTable tbody tr {
  width: 100%;
  height: 2.3rem;
  border-bottom: 0.0625rem solid var(--color-bggray);
  color: var(--color-bgblack);
}
.commonTable td {
  text-align: center;
}

/* 테이블 내 세부 콘텐츠 */
.commonTable i {
  display: inline-block;
  width: 30px;
  height: 14px;
  line-height: 14px;
  background-color: var(--color-acceent);
  color: var(--color-black);
  font-size: 10px;
  border-radius: 3px;
}
.commonTable .tableContentWrap {
  text-align: left;
}
.tableContentWrap em {
  font-size: var(--font-size-basic);
  font-weight: 700;
  margin-bottom: 0.375rem;
}

/*pagination 영역 ------------------------------------------------------*/
.pagination {
  display: flex;
  justify-content: center;
  width: auto;
  padding: 2rem 0 1rem;
}
ul.pagination li {
  justify-content: center;
  align-items: center;
  width: 1.875rem;
  height: 1.875rem;
  margin: 0 0.125rem;
}
ul.pagination li a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 1.875rem;
  font-size: var(--font-size-basic);
  font-weight: 500;
  text-decoration: none;
  transition: all 300ms ease-in;
}
ul.pagination li svg {
  width: 50%;
  height: 50%;
  color: var(--color-lightprimary);
  margin-top: 0.375rem;
}
ul.pagination li a.active {
  border: 0.0625rem solid var(--color-primary);
}
ul.pagination li a:hover {
  background-color: var(--color-gray);
}
.pagination .active {
  font-weight: 600;
  color: var(--color-acceent);
}

/*button & Link--------------------------------------------------------------*/
.tableTopWrap {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: right;
  width: 100%;
  height: 40px;
  padding: 10px;
  background-color: var(--color-bggray);
}

.tableTopWrap .smallButton,
.tableTopWrap .buttonLink {
  width: 6rem;
  height: 20px;
  background-color: var(--color-bgblack);
  color: var(--color-white);
}

@media screen and (max-width: 990px) {
  .tableTopWrap {
    top: 2.5rem;
  }
}

.tableButton {
  float: right;
  transform: translateY(50%);
  margin-right: 0.325rem;
  width: 2rem;
  height: 1.5rem;
}
.tableButton a:hover {
  font-weight: 700;
}
.smallButton {
  display: inline-block;
  width: 6.25rem;
  height: 1.825rem;
  margin: 0 0.325rem;
  background-color: var(--color-bggray);
}

.smallSubmitButton {
  top: 1.5rem;
  right: 0.625rem;
  width: 6.25rem;
  height: 20px;
}
.buttonLink {
  text-align: center;
  line-height: 20px;
  font-weight: 400;
  background-color: var(--color-bggray);
}
.buttonLink:hover {
  background-color: var(--color-lightprimary);
  color: var(--color-white);
}

.Link {
  display: block;
  width: 100%;
  height: 100%;
  font-size: var(--font-size-small);
  transition: all 200ms ease-in;
}

/* 검색 필터 --------------------------------------------------------------*/
.listSearchForm {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.listSearchWrap {
  display: flex;
  width: 25%;
  height: 40px;
  padding: 5px 0;
}

.listSearchWrap .blockLabel {
  width: 110px;
  height: 100%;
  text-align: center;
  background-color: var(--color-bgblack);
  color: var(--color-white);
  line-height: 30px;
}

.listSearchWrap div:nth-child(2) {
  width: calc(100% - 110px);
  padding: 3px;
  border: 1px solid var(--color-bgblack);
}

.listSearchWrap input {
  width: 100%;
  height: 100%;
  background-color: rgba(243, 244, 243, 0.3);
  border: 0.0625rem solid var(--color-bggray);
}

.formLayout .listSearchRadioLabel {
  display: inline-block;
  width: auto;
  padding-top: 0.3125rem;
  margin-right: 0.625rem;
}
.formLayout .listSearchRadioInput {
  display: inline-block;
  width: 0.625rem;
  height: 0.625rem;
  margin-right: 0.25rem;
  margin-top: 0.5rem;
}

.listSearchButtonWrap {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0.5rem;
}
.listSearchButtonWrap button {
  width: 5rem;
  height: 1.5rem;
  background-color: var(--color-gray);
  margin-right: 0.25rem;
  font-size: var(--font-size-small);
}
