/*common --------------------------------------------------------------*/
:root {
  --color-black: #000;
  --color-bgblack: #757575;
  --color-white: #fff;
  --color-gray: #bdbdbd;
  --color-bggray: #f6f5f4;
  --color-primary: #303f9f;
  --color-lightprimary: #3f51b5;
  --color-darkprimary: #33447c;
  --color-acceent: #ffc107;
  --font-point: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
  --font-size-small: 0.75rem;
  --font-size-basic: 0.875rem;
  --font-size-em: 1rem;
  --font-size-subtitle: 1.375rem;
  --font-size-title: 1.625rem;
  --styles-boxShadow: 0 0.75rem 1.875rem rgb(80 143 244 / 10%);
  --styles-boxShadowDeep: 0 0.1875rem 0.6875rem rgb(0 0 0 / 17%);
}

input[type="checkbox"],
input[type="radio"] {
  accent-color: #555;
}
i {
  color: var(--color-lightprimary);
}
#loading span {
  border: 2px solid #fff;
}
#wrap {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  #wrap {
    display: grid;
    grid-template-columns: 20vw 1fr;
  }
  #wrap::before,
  #wrap:before {
    content: "";
    height: 3.125rem;
    transition: all 300ms ease-in;
  }
}
@media screen and (min-width: 1200px) {
  #wrap {
    display: grid;
    grid-template-columns: 16.875rem 1fr;
  }
  #wrap::before,
  #wrap:before {
    content: "";
    height: 3.125rem;
    transition: all 300ms ease-in;
  }
}

/*container --------------------------------------------------------------*/
.containerWrap {
  position: relative;
  width: 100%;
  height: auto;
  padding: 1.25rem;
  background-color: var(--color-bggray);
}
@media screen and (max-width: 992px) {
  .containerWrap {
    padding-top: 5rem;
  }
}
.contentBox {
  width: 1200px;
  height: auto;
}

/*title - content title wrap& title content*/
.containerWrap h2 {
  width: auto;
  height: 3.125rem;
  font-size: var(--font-size-title);
  font-family: var(--font-point);
  color: var(--color-black);
}

/* 컨텐츠 영역 --------------------------------------------------------------*/
.commonBox {
  width: 100%;
  height: auto;
  background-color: var(--color-white);
  border: 0.0625rem solid var(--color-gray);
  padding: 4px;
  margin-bottom: 0.5rem;
}
.commonBox:last-child {
  margin-bottom: 0;
}
.commonBox h3 {
  font-size: var(--font-size-subtitle);
  color: var(--color-black);
}
.tableWrap h3 {
  height: 3.125rem;
  line-height: 3.125rem;
}

/*footer --------------------------------------------------------------*/
.footer {
  width: 100%;
  height: 1.5rem;
  background-color: var(--color-bgblack);
}
.footer span {
  display: inline-block;
  width: 100%;
  height: auto;
  color: var(--color-white);
  line-height: 1.5rem;
  text-align: center;
  font-size: var(--font-size-small);
}

/*header --------------------------------------------------------------*/

.headerWrap {
  width: 100%;
  height: 2rem;
}
@media screen and (max-width: 992px) {
  .headerWrap {
    position: fixed;
    z-index: 1;
  }
  .headerWrap::before {
    position: absolute;
    display: block;
    z-index: -1;
    content: "";
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--color-white);
    opacity: 0.8;
  }
}

.headerBox {
  width: 100%;
  max-width: 1200px;
  min-width: 75rem;
  height: 100%;
}
.infoWrap {
  display: flex;
  justify-content: right;
  width: 100%;
  height: 100%;
}
.infoWrap button {
  text-align: right;
  width: 5rem;
  height: 100%;
}

/*title - menu open button*/
.openBtn {
  float: left;
  width: 1.25rem;
  height: auto;
  padding-top: 0.8125rem;
  margin-right: 0.9375rem;
}
@media screen and (min-width: 992px) {
  .openBtn {
    display: none;
  }
}

.openBtn i {
  width: 100%;
  height: 100%;
  font-size: var(--font-size-big);
}

/*navigator --------------------------------------------------------------*/
.navigationWrap {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 16.875rem;
  height: 100%;
  background-color: var(--color-primary);
  transition: all 500ms ease-in;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .navigationWrap {
    width: 20vw;
  }
}
@media screen and (min-width: 1200px) {
  .navigationWrap {
    width: 16.875rem;
  }
}

.navigationWrap.hide {
  left: -16.875rem;
}
.navigationWrap.show {
  left: 0;
}

.navTop {
  width: auto;
  height: auto;
  padding: 1.875rem;
}

.navTop img {
  display: block;
  width: 10rem;
  height: auto;
  margin: 0 auto;
}

.navTop button {
  position: absolute;
  top: 0.8125rem;
  left: 0.625rem;
  width: 2.5rem;
  height: 2.5rem;
}

.navTop i {
  font-size: var(--font-size-big);
  color: var(--color-lightprimary);
}

@media screen and (min-width: 992px) {
  #nav_close_btn {
    display: none;
  }
}

/*title - navInner : 하위 메뉴가 열리는 nav button*/
.navBottom {
  width: 100%;
  height: auto;
  padding: 8px;
}
.navBottom ul {
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  padding: 4px;
}

.navInner {
  width: 100%;
  height: auto;
  margin-bottom: 0.625rem;
}
.navInner:last-child {
  margin-bottom: 0;
}

.navInner li:last-child {
  border-bottom: none;
}

.navHeaderPart {
  width: 100%;
  height: auto;
  line-height: 30px;
  background-color: var(--color-darkprimary);
  padding-left: 5px;
}

.navHeaderPart span {
  color: var(--color-white);
  font-size: var(--font-size-basic);
}
.navContentPart {
  width: 100%;
  height: auto;
}
.navContentPart li {
  width: 100%;
  height: auto;
  padding: 0 10px;
  line-height: 28px;
  border-bottom: 1px solid var(--color-bggray);
}
.navContentPart a {
  text-decoration: none;
  font-size: var(--font-size-small);
}
.navContentPart .focusNavLink {
  color: var(--color-lightprimary);
}

/* 로그인 --------------------------------------------------------------*/
.loginWrap {
  position: absolute;
  background: linear-gradient(
    to bottom,
    rgb(250, 250, 250),
    rgb(255, 255, 255) rgb(250, 250, 250)
  );
  width: 100%;
  height: 100%;
}

.loginWrap .loginBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.875rem;
  width: 20.5rem;
  height: 25rem;
  border-radius: 5px;
  background-color: var(--color-primary);
  box-shadow: var(--styles-boxShadow);
}
.loginBox h3 {
  margin-bottom: 20px;
  text-align: center;
  color: var(--color-white);
}
.loginBox .formContentWrap {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.loginBox .formContentWrap div:last-child {
  width: 100%;
}
.loginWrap label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  height: auto;
  color: var(--color-white);
}
.loginBox input {
  width: 100%;
  height: 28px;
  text-indent: 5px;
}

.widthWideBtn {
  width: 160px;
  height: 2rem;
  border-radius: 0.3125rem;
  transition: all 300ms ease-in;
  color: var(--color-black);
  background-color: var(--color-bggray);
  margin: 20px auto 0;
}

.widthWideBtn:focus {
  background-color: var(--color-acceent);
  color: var(--color-white);
  box-shadow: var(--styles-boxShadow);
}

/* 기본적인 form Wrap --------------------------------------------------------------*/
.formLayout {
  width: 100%;
  height: auto;
}

.errorMessageWrap {
  position: absolute;
  right: 0;
  bottom: 0;
  width: calc(100% - 152px);
  display: block;
  height: auto;
  color: var(--color-white);
  text-align: right;
  font-size: var(--font-size-small);
  background-color: rgba(0, 0, 0, 0.3);
}

.formLayout .blockLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  min-height: 2rem;
  width: 150px;
  background-color: var(--color-bggray);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.formLayout .blockLabel span {
  color: var(--color-black);
  font-size: var(--font-size-basic);
}

.formLayout input {
  width: 100%;
  height: 2rem;
  border: 0.0625rem solid rgba(200, 200, 200, 0.6);
  padding: 0 0.3125rem;
  text-align: center;
}

.formLayout input:focus,
.listSearchForm input:focus {
  transition: all 300ms ease-in;
  border: 0.0625rem solid var(--color-lightprimary);
  background-color: var(--color-bggray);
}
.formLayout input:disabled {
  background-color: #efefef;
  color: #999;
  border: none;
}
.formLayout textarea {
  resize: none;
  width: 100%;
  height: 100%;
  min-height: 120px;
  padding: 0.3125rem;
  /* background-color: rgba(243, 244, 243, 0.3); */
  border: 0.0625rem solid var(--color-bggray);
  line-height: 1.2rem;
}
.formLayout textarea:focus {
  outline: none;
  transition: all 300ms ease-in;
  border: 0.0625rem solid var(--color-lightprimary);
  background-color: var(--color-bggray);
}

/*form layout 기타 요소*/
.selectForm select {
  display: inline-block;
  width: 8.125rem;
  height: 2.5rem;
  background-color: var(--color-bggray);
  border-radius: 0.3125rem;
  margin-right: 0.3125rem;
}
.selectForm select:focus {
  outline: none;
}

/*이미지 설정 - 썸네일*/
.setImageWrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.setImageWrap .fileboxLabel {
  display: block;
  width: 7rem;
  padding: 0.3em 0;
  height: auto;
  font-size: var(--font-size-small);
  text-align: center;
  cursor: pointer;
  border: 0.0625rem solid var(--color-bggray);
  background-color: rgba(243, 244, 243, 0.5);
  transition: all 100ms ease-in;
  margin: 0 auto;
  margin-top: 10px;
}

.fileboxLabel:hover,
.fileboxLabel:active {
  background-color: var(--color-acceent);
}

/* imgsThumbnail---------------------------------- */

.imgsThumbnail {
  position: relative;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 4.5rem;
  padding: 0.25rem;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.imgBtn {
  display: block;
  width: 80%;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background-color: var(--color-bggray);
  margin: 0 auto;
  margin-top: 5px;
}
.imgsThumbnail label {
  width: 100%;
  height: 94px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.12s ease-in;
}
.imgsThumbnail label:hover {
  background-color: rgba(243, 244, 243, 0.8);
}
.imgsThumbnail label:hover::before {
  content: "클릭하시거나 이미지를 드래그 앤 드롭 하세요.";
  position: absolute;
  color: var(--color-gray);
}
.DragDrop-Files {
  position: absolute;
  left: 4px;
  top: 4px;
  /* width: calc(100% - 8px); */
  width: auto;
  height: auto;
  display: flex;
  display: -webkit-flex;
  justify-content: left;
  flex-wrap: wrap;
}

.DragDrop-Files > div,
.DragDrop-Files > img,
.DragDrop-Files > li {
  position: relative;
  width: 108px;
  height: 90px;
  padding: 2px;
}

.DragDrop-Files span {
  display: block;
  height: auto;
  font-size: var(--font-size-small);
  color: var(--color-lightprimary);
  margin-top: 0.125rem;
}

.ImageUploadBox {
  width: 100%;
  border-radius: 3px;
}

/* ------------------------------------ */

/*썸네일 클릭 시 확대*/
.imageZoomPopupBox {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.commonBox .imageZoom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 500px;
  height: auto;
}

/* 썸네일 삭제 */
.imgRemoveBtn {
  display: none;
  position: absolute;
  top: 6px;
  right: 4px;
  z-index: 10;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: var(--styles-boxShadow);
}
.DragDrop-Files > div:hover .imgRemoveBtn,
.DragDrop-Files > li:hover .imgRemoveBtn {
  display: block;
}
.imgRemoveBtn svg {
  width: 100%;
  height: 100%;
  color: var(--color-white);
}

/* 라벨 제거한 input basic css (공사콕 배너관리-배너이비지) */
.basicInputWrap {
  width: 100%;
}
.basicInputWrap #titleImg {
  border: none;
  background-color: transparent;
}
.basicInputWrap .basicModifyBtn {
  display: block;
  cursor: pointer;
  width: 85px;
  height: 20px;
  background-color: var(--color-bggray);
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  text-align: center;
  font-size: var(--font-size-small);
  line-height: 22px;
  color: var(--color-black);
}

.formWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 100%;
  height: auto;
}
.formWrap fieldset {
  position: relative;
  width: 100%;
  height: auto;
  border: 1px solid var(--color-acceent);
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding: 34px 4px 4px;
  margin: 4px 0;
}
.formWrap fieldset:last-child {
  margin-bottom: 0;
}

.formWrap fieldset > h3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: var(--font-size-small);
  color: var(--color-black);
  background-color: var(--color-acceent);
  padding: 0 10px;
}
.formWrap h3 span {
  font-size: var(--font-size-small);
  color: var(--color-white);
  margin-left: 5px;
  background-color: var(--color-black);
  padding: 1px 5px;
  border-radius: 2px;
}

.reqFormWrap .formContentWrap {
  width: 100%;
}

.formContentWrap {
  position: relative;
  display: flex;
  width: 50%;
  height: auto;
  justify-content: left;
  /* margin-top: 8px; */
}
.formContentWideWrap {
  width: 100%;
}
.formContentWrap > div:last-child,
.formContentWrap .detailContent {
  width: calc(100% - 150px);
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-left: none;
  padding: 2px;
}
.formContentWrap > div.formPaddingWrap {
  height: 38px;
  display: flex;
  justify-content: center;
  padding-top: 7px;
}
.formContentWrap div input:not(:nth-last-of-type(1)) {
  margin-bottom: 4px;
}
.formPaddingWrap input[type="text"] {
  width: 100%;
}

.formContentBtn {
  display: block;
  width: 60px;
  height: 30px;
  background-color: var(--color-bggray);
  font-size: var(--font-size-small);
  text-align: center;
  line-height: 32px;
}

/* keyword 클릭 이벤트 ---------------------------------- */
/* set page  -  키워드 검색 */
.pieceKeywordWrap {
  position: relative;
  width: 100%;
  height: auto;
}
.pieceKeywordWrap > div {
  display: flex;
  justify-content: space-between;
  height: 2.125rem;
}
.pieceKeywordWrap .keywordInput {
  width: 410px;
}
#pieceKeywordArea {
  width: 410px;
  height: 6.875rem;
}

/* 키워드 조회량 관리 키워드 검색  */
.keywordWrap {
  position: relative;
  width: 100%;
  height: auto;
  padding: 2.25rem 16.25rem 2.875rem;
}
.keywordBox {
  position: relative;
  width: 100%;
  height: auto;
}
.keywordBox > div:first-child {
  width: 100%;
  height: 2.125rem;
  display: flex;
  justify-content: space-between;
}

.keywordWrap .keywordInput {
  width: 41.875rem;
  height: 100%;
  border: 0.0625rem solid var(--color-bggray);
  padding: 0 0.3125rem;
}
.keywordInput:focus {
  border: 0.0625rem solid var(--color-lightprimary);
}

.keywordInput ~ button {
  width: 3.75rem;
  height: 100%;
  background-color: var(--color-bggray);
  font-size: var(--font-size-small);
}
.keywordArea {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 41.875rem;
  height: 6.875rem;
  border: 0.0625rem solid var(--color-bggray);
  background-color: var(--color-white);
  padding: 0.25rem;
}
.keywordArea > div {
  overflow: hidden;
  width: 41.875rem;
  height: 6.375rem;
}
.keywordArea > div > ul {
  overflow-y: scroll;
  width: 43.75rem;
  height: 8rem;
}

.keywordArea li {
  width: 41.375rem;
  height: auto;
  border-bottom: 0.0625rem solid var(--color-bggray);
}
.keywordArea li:last-child {
  border-bottom: none;
}
.keywordArea span {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.25rem 0;
}
.keywordArea button {
  position: relative;
  width: 100%;
  height: 1.25rem;
  text-align: left;
  font-size: var(--font-size-small);
  text-indent: 0.625rem;
}
.keywordArea button:hover {
  background-color: var(--color-bggray);
}
.keywordArea button:focus {
  background-color: var(--color-gray);
}
.keywordArea button:hover::before {
  content: "추가 +";
  display: block;
  position: absolute;
  right: 0.625rem;
  width: auto;
  height: auto;
  color: var(--color-lightprimary);
}

.keywordSelectWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  height: 100%;
  height: auto;
  background-color: var(--color-bggray);
  padding: 0.625rem;
  padding-bottom: 0.375rem;
  margin-top: 0.25rem;
}
.keywordSelectWrap li {
  position: relative;
  width: auto;
  height: auto;
  border-radius: 0.625rem;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 0.125rem 0.5rem;
  border: 0.0625rem solid var(--color-gray);
}
.keywordSelectWrap li:hover::before {
  position: absolute;
  content: "\f057";
  display: block;
  right: -5px;
  top: -2px;
  font-size: 12px;
  font-family: "Font Awesome 5 Free";
  color: var(--color-bgblack);
}

/*page  --------------------------------------------------------------*/

.detailPageLayout {
  width: 100%;
  height: auto;
  padding: 0 6px;
  border: 1px solid var(--color-bggray);
}
.detailPageLayout .detailTime {
  margin-top: 10px;
}
.detailContentWrap {
  display: flex;
  width: 100%;
  height: auto;
  min-height: 60px;
  border-bottom: 0.125rem solid var(--color-bggray);
  color: var(--color-black);
}
.detailContentWrap:last-child {
  border: none;
}
.title {
  height: 100%;
  line-height: 3.75rem;
}
.title .contentText {
  font-size: var(--font-size-em);
  color: var(--color-gray);
  line-height: 1.875rem;
  margin-left: 0.625rem;
}
.title .titleText {
  font-size: var(--font-size-subtitle);
  color: var(--color-black);
}
.detailContentWrap > div {
  color: var(--color-black);
  display: block;
  width: 100%;
  height: auto;
  min-height: 1.5rem;
  text-indent: 0.625rem;
}
.detailContentWrap p {
  width: 100%;
  height: auto;
  min-height: 5rem;
  margin: 1.25rem 0;
}
.detailContentWrap span {
  line-height: 3.75rem;
}

/* 공지사항 - 이미지 */
.detailContentWrap .detailWidthContentImg {
  width: 100%;
  height: auto;
  border-top: 0.0625rem solid var(--color-bggray);
  padding: 0.625rem 0;
}
.detailContentWrap .detailWidthContentImg > div {
  width: 3.125rem;
  height: 3.125rem;
}
/* 공지사항 - 생성, 수정날짜 */
.detailTime {
  width: 100%;
  height: auto;
  font-size: var(--font-size-small);
}
.detailTime > div {
  float: right;
  width: auto;
  height: 1.25rem;
  margin-left: 0.625rem;
  color: var(--color-gray);
}
.detailTime em {
  display: inline-block;
  width: auto;
  height: auto;
  margin-right: 0.4rem;
}
.detailTime > div > span {
  width: auto;
  height: auto;
  min-height: inherit;
  line-height: inherit;
  display: inline-block;
}
.detailWidthContent {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: left;
}

.detailWidthContent > div,
.detailWidthContent > li,
.commonTable div {
  width: auto;
  height: auto;
  background-size: cover;
  cursor: pointer;
}
.detailWidthContentImg {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.detailWidthContentImg > div {
  width: 19%;
  height: 5rem;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
}
.detailWidthContentImg > div:last-child {
  margin-right: 0;
}
.detailWidthContentCallNum li {
  margin-right: 2.5rem;
}
.detailWidthContent .blind {
  width: 0;
}

.hashTag {
  width: 100%;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.hashTag li {
  width: auto;
  height: auto;
  padding: 0.125rem 0.5rem;
  margin: 0.125rem;
  background-color: var(--color-bggray);
  border-radius: 0.3125rem;
  font-size: var(--font-size-small);
  line-height: 1.875rem;
}

/* detailPage- 주소:좌표 */
.detailContent {
  width: 100%;
  height: auto;
  display: flex;
}
.detailContent li {
  width: 50%;
  height: 32px;
  padding: 0 2px;
}
.detailContent li > div {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-bggray);
}
.detailContentInputWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 4px;
}

.detailContent span {
  display: block;
  width: auto;
  min-width: 80px;
  height: 100%;
  text-align: center;
  line-height: 2rem;
  background-color: var(--color-bggray);
}
.detailContent input,
.detailContent .detailContentBox {
  width: calc(100% - 60px);
  height: 100%;
}
.detailContentBox {
  padding: 2px 6px;
}
.detailContentBox > span {
  display: inline-block;
  width: 70%;
  height: 100%;
  line-height: 26px;
  background-color: var(--color-white);
}
.detailContentBox a {
  display: inline-block;
  width: 30%;
  height: 100%;
  text-align: center;
  line-height: 26px;
  background-color: var(--color-gray);
}
.detailContent a:hover {
  background-color: var(--color-bgblack);
  color: var(--color-white);
}
.detailContentCheck > span {
  width: 220px;
}
.detailContentCheck .formPaddingWrap {
  justify-content: center;
}
/* 사업자 상세정보 확인 하단 리뷰 & 공지사항 */
.detailContentsList {
  display: flex;
  justify-content: left;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
.detailContentsList li {
  width: calc(25% - 12px);
  height: auto;
  background-color: var(--color-bggray);
  padding: 0.3125rem;
  margin-right: 2px;
}
.detailContentsList li:last-child {
  margin-right: 0;
}
.detailContentsList a {
  display: block;
}
.detailContentsList a:hover {
  text-decoration: none;
}

.detailContentsList h4 {
  height: 2rem;
  line-height: 2rem;
}
.detailContentsList span {
  display: inline-block;
  height: auto;
  padding-left: 0.25rem;
}
.detailContentsList .link {
  text-align: right;
  height: auto;
}

.detailContentLink {
  width: 100%;
  height: auto;
}
.detailContentLink a {
  display: inline-block;
  width: auto;
  font-size: var(--font-size-small);
  color: var(--color-lightprimary);
  transition: color 300ms ease-in;
  padding: 0.25rem 0.625rem;
}
.detailContentLink a:hover {
  color: var(--color-black);
  text-decoration: none;
}
.detailContentImage {
  width: 100%;
  height: auto;
}
.detailContentImage span {
  display: block;
  color: var(--color-lightprimary);
}
.detailContentImage img {
  width: 100%;
  height: auto;
  margin-bottom: 1.25rem;
}

/*table --------------------------------------------------------------*/
.tableWrap {
  width: 100%;
  height: auto;
}

.commonTable {
  table-layout: fixed;
  width: 100%;
  height: auto;
}
.commonTable thead {
  border: 0.0625rem solid #ddd;
  font-size: var(--font-size-basic);
  line-height: 2.4rem;
  background-color: var(--color-bggray);
}
.commonTable tbody tr {
  border-bottom: 0.0625rem solid var(--color-bggray);
  color: var(--color-black);
}
.commonTable td {
  height: 2.1rem;
  word-break: break-all;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.commonTable td a {
  height: 100%;
  line-height: 2.1rem;
}
.addCompanyUserList {
  position: relative;
  width: 600px;
  margin: 0 auto;
  margin-top: 42px;
  padding: 2px;
}
.addCompanyUserList .tableWrap {
  height: 182px;
  overflow: auto;
  overflow-x: hidden;
  border: 0.0625rem solid rgba(200, 200, 200, 0.6);
}
.addCompanyUserList .commonTable {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}

.addCompanyUserList thead tr {
  position: absolute;
  top: -35px;
  left: 2px;
}
.addCompanyUserList th {
  width: 117.2px;
  background: var(--color-bgblack);
  color: var(--color-white);
}
.addCompanyUserList .commonTable td {
  text-align: center;
  height: 32px;
  border-top: 1px solid #ccc;
}

.addCompanyUserList tbody tr {
  display: table-row;
  height: 36px;
}
.addCompanyUserList tbody tr:hover {
  background-color: var(--color-bggray);
}

/* allItem[clickTab] */
.commonTable .basicThead {
  height: 4rem;
  border-bottom: none;
}
.basicThead tr {
  background-color: var(--color-white);
}
.basicThead td {
  text-align: left;
}
.flageN {
  background-color: var(--color-bggray);
}
.flageN td {
  color: var(--color-gray);
}

.flexTableWrap {
  display: flex;
  width: 100%;
  height: auto;
}
.flexTableWrap .commonTable {
  width: 25%;
}
.flexTableWrap .commonTable:not(:last-child) {
  border-right: 0.0625rem solid var(--color-bggray);
}

.flexTableWrap button {
  margin: 0 auto;
  color: var(--color-bgblack);
}
.flexTableWrap button:hover {
  color: var(--color-black);
}

/* 테이블 내 세부 콘텐츠 */
.commonTable i,
.tableIcon {
  display: inline-block;
  width: 1.875rem;
  height: 0.875rem;
  line-height: 0.875rem;
  font-size: 0.625rem;
  margin-left: 0.3125rem;
}
.tableIcon {
  background-color: var(--color-bgblack);
  color: var(--color-white);
  border-radius: 0.1875rem;
}
.commonTable .tableIcon:first-child {
  margin-left: 0;
}
.commonTable .tableReviewWrap,
.commonTable .tableContentWrap {
  text-align: left;
  padding: 8px 4px;
}
.tableReviewWrap {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  color: var(--color-black);
  padding: 6px 2px;
}
.tableReviewWrap > div:first-child {
  width: 78%;
}
.tableContentWrap em {
  display: inline-block;
  font-size: var(--font-size-basic);
}
.tableReviewWrap h4 {
  font-size: var(--font-size-em);
}

.tableReviewWrap ul {
  display: flex;
  margin-bottom: var(--font-size-small);
  color: var(--color-gray);
}
.tableReviewWrap li {
  width: auto;
  height: 12px;
  padding-right: 6px;
  margin-right: 6px;
}
.tableReviewWrap li:first-child {
  position: relative;
}
.tableReviewWrap li:first-child::before {
  position: absolute;
  right: 0;
  top: 4px;
  content: "";
  display: block;
  width: 1px;
  height: 8px;
  background-color: var(--color-gray);
}
.tableReviewWrap span,
.tableReviewWrap em {
  font-size: 12px;
}
.tableReviewWrap p {
  font-size: 14px;
}
.tableReviewWrap .tableReviewImgWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  height: auto;
}
.tableReviewImgWrap > div {
  position: relative;
  width: 100%;
  height: 60px;
  overflow: hidden;
}
.tableReviewImgWrap > div::before {
  position: absolute;
  right: 0;
  content: "";
  display: block;
  width: 50px;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}
.tableReviewWrap .tableReviewImg {
  overflow-x: scroll;
  height: 200px;
}
.tableReviewImg > div {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.tableReviewImg > div > div {
  width: 60px;
  height: 60px;
  margin-right: 2px;
}
.tableReviewImg > div .Link {
  width: 100%;
  height: 100%;
}

.filterWrap {
  width: 100%;
  display: flex;
  justify-content: right;
  padding: 0.625rem 0;
}

.filterWrap input {
  appearance: none;
}

.filterWrap label {
  font-size: 14px;
  margin-left: 5px;
}

.filterWrap input[type="radio"] + span {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0px 10px;
  text-align: center;
  height: auto;
  line-height: 26px;
  cursor: pointer;
}
.filterWrap input[type="radio"]:checked + span {
  border: 1px solid var(--color-lightprimary);
  background: var(--color-lightprimary);
  color: var(--color-white);
}
.filterWrap select {
  border: 0.0625rem solid var(--color-gray);
  background-color: var(--color-bggray);
  border-radius: 0.25rem;
  padding: 0.0625rem;
  margin-right: 5px;
}
.formWrap .filterWrap {
  justify-content: left;
}
.formWrap .filterWrap input {
  display: none;
}
.formWrap .filterWrap label {
  padding-top: 0;
  margin-left: 0;
  margin-right: 5px;
}

.submenuWrap {
  width: auto;
  height: 18px;
  display: flex;
}
.submenu {
  width: 80px;
  height: 100%;
  border: 1px solid var(--color-gray);
  border-radius: 2px;
  margin-left: 4px;
}
.submenu.focused {
  /* border-color: var(--color-acceent);
  color: var(--color-acceent); */
  background-color: var(--color-lightprimary);
  border: 1px solid var(--color-lightprimary);
  color: var(--color-white);
}
.submenu.add {
  background-color: var(--color-bggray);
}
/*pagination 영역 ------------------------------------------------------*/
.pagination {
  display: flex;
  justify-content: center;
  width: auto;
  padding: 2rem 0 1rem;
}
ul.pagination li {
  justify-content: center;
  align-items: center;
  width: 1.875rem;
  height: 1.875rem;
  margin: 0 0.125rem;
}
ul.pagination li a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 1.875rem;
  font-size: var(--font-size-basic);
  text-decoration: none;
  transition: all 300ms ease-in;
}
ul.pagination li svg {
  width: 50%;
  height: 50%;
  color: var(--color-lightprimary);
  margin-top: 0.375rem;
}
ul.pagination li a.active {
  border: 0.0625rem solid var(--color-primary);
}
ul.pagination li a:hover {
  background-color: var(--color-gray);
}
.pagination .active {
  color: var(--color-acceent);
}

/*button & Link--------------------------------------------------------------*/
.tableTopWrap {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
  display: flex;
  justify-content: right;
  width: 100%;
  height: 40px;
  padding: 10px;
  background-color: var(--color-bggray);
}
.tableTopBorderWrap {
  border: 1px solid var(--color-gray);
}
.tableTopWhiteWrap {
  background-color: var(--color-white);
}
/* tableTopWrap  ============================ */
.tableTopWrap .smallButton,
.tableTopWrap .smallSubmitButton {
  width: 6rem;
  height: 1.25rem;
  text-align: center;
  line-height: 1.25rem;
  margin-left: 0.25rem;
}
.tableTopWrap a,
.tableTopWrap button {
  background-color: var(--color-bgblack);
  color: var(--color-white);
}
.tableTopWrap a:hover,
.tableTopWrap button:hover {
  background-color: var(--color-acceent);
  color: var(--color-black);
}

.tableTopNumber {
  border: 1px solid var(--color-bgblack);
  border-radius: 2px;
}
.tableTopNumber span {
  display: inline-block;
  height: 100%;
  line-height: 18px;
}

.tableTopNumber span:first-child {
  color: var(--color-white);
  padding: 0 5px;
  border-right: 1px solid var(--color-bgblack);
  background-color: var(--color-bgblack);
}
.tableTopNumber span:last-child {
  padding: 0 12px;
}

.tableTopScrollBtn {
  position: absolute;
  left: 5px;
  padding: 2px 0px;
}
.tableTopScrollBtn a {
  position: relative;
  margin: 0 3px;
  padding: 0 10px;
  background-color: var(--color-bggray);
  color: var(--color-black);
}
.tableTopScrollBtn a:hover {
  background-color: var(--color-bgblack);
  color: var(--color-white);
}
.tableTopScrollBtn a::after {
  position: absolute;
  right: -3px;
  top: 10%;
  display: block;
  content: "";
  border-right: 1px solid var(--color-bgblack);
  width: 1px;
  height: 80%;
}
.tableTopScrollBtn a:last-child::after {
  display: none;
}

@media screen and (max-width: 990px) {
  .tableTopWrap {
    top: 2.5rem;
  }
}

/* 상세 */
.tableButton {
  width: 100%;
  height: 100%;
}
.tableButton a {
  width: 100%;
  height: 100%;
}
.tableButton a:hover {
  color: var(--color-black);
  background-color: var(--color-acceent);
}
/* /tableTopWrap  ============================ */

.Link {
  display: block;
  width: 100%;
  height: 100%;
  font-size: var(--font-size-small);
  transition: all 200ms ease-in;
}

/* 검색 필터 --------------------------------------------------------------*/
.listSearchForm {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.listSearchWrap {
  display: flex;
  width: 25%;
  height: 2.5rem;
  padding: 0.25rem;
}
.listSearchWrap .blockLabel {
  width: 6.875rem;
  height: 100%;
  background-color: var(--color-bgblack);
  border: none;
}
.listSearchWrap .blockLabel span {
  text-align: center;
  color: var(--color-white);
}

.listSearchWrap div:nth-child(2) {
  display: flex;
  justify-content: center;
  width: calc(100% - 6.875rem);
  height: 100%;
  padding: 0.1875rem;
  border: 0.0625rem solid var(--color-bgblack);
}

.listSearchWrap input {
  width: 100%;
  height: 100%;
  background-color: rgba(243, 244, 243, 0.3);
  border: 0.0625rem solid var(--color-bggray);
}
.commonTable h3 {
  text-align: left;
  font-size: var(--font-size-em);
  padding-left: 4px;
  padding-bottom: 10px;
  color: var(--color-black);
}
.formLayout .listSearchRadioLabel {
  display: inline-block;
  width: auto;
  padding-top: 0.3125rem;
  margin-right: 0.625rem;
}
.formLayout .listSearchRadioLabel:last-child {
  margin-right: 0;
}
.formLayout .listSearchRadioInput {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.25rem;
  margin-top: 0.3125rem;
}
.formCenterLayout .formContentWrap {
  margin-left: 50%;
  transform: translateX(-50%);
}
/* 검색 필터 하단 버튼 */
.listSearchButtonWrap {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0.5rem;
}
.listSearchButtonWrap button {
  width: 5rem;
  height: 1.5rem;
  background-color: var(--color-bggray);
  margin-right: 0.25rem;
  font-size: var(--font-size-small);
  color: var(--color-black);
  border-radius: 0.25rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.1);
}

.flexBox {
  display: flex;
  justify-content: space-between;
}
.formButton {
  background-color: var(--color-bggray);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.contentBox .tableAppbannerTd {
  position: relative;
  width: 630px;
  height: 252px;
}
.tableAppbannerTd > div {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.commonBox .dasableTag {
  display: block;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.dasableTag::before {
  display: block;
  content: "비활성화 배너";
  width: 100%;
  height: 100%;
  font-size: var(--font-size-subtitle);
  line-height: 252px;
  color: var(--color-white);
}
