:root {
  --color-black: #101038;
  --color-white: #fff;
  --color-gray: #f1f5fa;
  --color-pointgray: #a5adc6;
  --color-bggray: #f3f4f3;
  --color-primary: #62bfad;
  /* --color-primary2: #0d6efd; */
  --color-primary2: #ff8d8d;
  --font-point: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
  --font-size-small: 0.875rem;
  --font-size-basic: 1rem;
  --font-size-em: 1.125rem;
  --font-size-big: 1.25rem;
  --font-size-title: 1.625rem;
  --font-size-titleem: 2rem;
  --styles-boxShadow: 0 0.75rem 1.875rem rgb(80 143 244 / 10%);
  --styles-boxShadowDeep: 0 0.1875rem 0.6875rem rgb(0 0 0 / 17%);
}

#wrap {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  #wrap {
    display: grid;
    grid-template-columns: 20vw 1fr;
  }
  #wrap::before,
  #wrap:before {
    content: "";
    height: 3.125rem;
    transition: all 300ms ease-in;
  }
}
@media screen and (min-width: 1200px) {
  #wrap {
    display: grid;
    grid-template-columns: 16.875rem 1fr;
  }
  #wrap::before,
  #wrap:before {
    content: "";
    height: 3.125rem;
    transition: all 300ms ease-in;
  }
}

.blind_wrap a > span,
.blind_wrap button > span,
.blind {
  display: block;
  position: absolute;
  z-index: -1;
  clip: rect(0 0 0 0);
  width: 0;
  height: 0;
  overflow: hidden;
}

.blind_wrap a {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.none {
  display: none;
}

.clearfix {
  width: 100%;
  height: auto;
}

.clearfix:after,
.clearfix::after {
  content: "";
  display: block;
  clear: both;
  width: 100%;
  height: 0;
}

#wrap {
  height: auto;
  margin: auto;
}
.link {
  display: block;
  width: auto;
  height: 100%;
}
.link:hover {
  text-decoration: none;
}
.link:focus {
  outline: none;
}
.mainWrap {
  width: 100%;
  height: auto;
}
.mainWrap section {
  padding: 0.875rem;
  box-sizing: border-box;
}

.commonBox {
  background-color: var(--color-white);
  border-radius: 0.3125rem;
  box-shadow: var(--styles-boxShadow);
}
/* ---------------------------------------------------------------------------------------- */

/*table*/
.commonTable thead {
  border-bottom: 0.125rem solid var(--color-primary);
  font-size: var(--font-size-basic);
  line-height: var(--font-size-titleem);
}

.commonTable tbody tr:nth-of-type(2n) {
  background-color: var(--color-bggray);
}
.commonTable thead {
  width: auto;
  height: auto;
}
.commonTable tr {
  width: auto;
  height: auto;
}
.commonTable tbody tr {
  width: 100%;
  height: 2.1875rem;
}

.commonTable td {
  text-align: center;
}
.tableTopWrap {
  display: flex;
  justify-content: right;
  width: 100%;
  height: auto;
  padding: 0 0.75rem;
}
.addButton {
  width: 6.25rem;
  height: 2rem;
}
.addButtonLink {
  text-align: center;
  line-height: 2rem;
  font-weight: 400;
  font-size: var(--font-size-basic);
  background-color: var(--color-white);
  border-radius: 0.3125rem;
  transition: all 500ms ease-in;
}
.addButtonLink:hover {
  text-decoration: none;
  background-color: var(--color-bggray);
  box-shadow: var(--styles-boxShadowDeep);
}

.Link {
  display: block;
  width: 100%;
  height: 100%;
}
