.containerWrap {
  position: relative;
  width: 100%;
  height: auto;
  background-color: var(--color-bggray);
}
.containerWrap:before,
.containerWrap::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 10rem;
  background-color: var(--color-primary);
}

.contentBox {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0.9375rem;
}
@media screen and (min-width: 1200px) {
  .contentBox {
    padding: 1.875rem;
  }
}

/*title - content title wrap& title content*/
.contentTitleWrap {
  width: 100%;
  height: 3.75rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.875rem;
  padding: 0 0.75rem;
}
.ContainertitleText {
  width: auto;
  height: auto;
}
.ContainertitleText h3 {
  width: auto;
  height: auto;
  font-family: var(--font-point);
  font-size: var(--font-size-title);
  line-height: 1.2;
  margin-bottom: 0.5rem;
  font-weight: 700;
  color: var(--color-white);
}
.ContainertitleText span {
  color: var(--color-white);
}

/*title - title부분의 브래드크럼*/
.ContainerTitlebreadcrumb {
  width: 100%;
  display: flex;
}
.ContainerTitlebreadcrumb li {
  width: auto;
  height: auto;
}
.ContainerTitlebreadcrumb span {
  width: auto;
  height: auto;
  font-size: var(--font-size-small);
}
.breadcrumbPrev:after,
.breadcrumbPrev::after {
  content: ">";
  color: var(--color-white);
  margin: 0 0.3125rem;
  font-size: var(--font-size-small);
}

/*title - title부분의 버튼*/
.containerTitleBtn {
  width: auto;
  height: 2.75rem;
  padding: 0.875rem 1.875rem;
  border-radius: 0.3125rem;
  background-color: var(--color-white);
  box-shadow: var(--styles-boxShadowDeep);
  color: 0.8125rem;
  line-height: 1.0625rem;
  transition: 0.3s;
  font-size: var(--font-size-small);
}
.containerTitleBtn:hover {
  background-color: var(--color-primary2);
  color: var(--color-white);
}

.popupWrap {
  display: block;
  position: absolute;
  width: 400px;
  height: 300px;
  background-color: #fff;
}

.popupWrapNone {
  display: none;
}
