/*title - basic*/
.headerWrap {
  width: 100%;
  background-color: var(--color-white);
}
@media screen and (min-width: 1200px) {
  .headerWrap {
    height: 6.25rem;
    padding: 1.875rem;
  }
}
@media screen and (max-width: 1199px) {
  .headerWrap {
    height: 5rem;
    padding: 1.25rem;
  }
}
.headerWrap button {
  width: 100%;
  height: 100%;
}

.headerBox {
  width: 100%;
  height: 100%;
}

/*title - menu open button*/
.openBtn {
  float: left;
  width: 1.25rem;
  height: auto;
  padding-top: 0.8125rem;
  margin-right: 0.9375rem;
}
@media screen and (min-width: 992px) {
  .openBtn {
    display: none;
  }
}

.openBtn i {
  width: 100%;
  height: 100%;
  font-size: var(--font-size-big);
  color: var(--color-pointGray);
}

/*title - headerSearch*/
.headerSearch {
  float: left;
  width: 19.375rem;
  height: 100%;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .headerSearch {
    width: 12.5rem;
  }
}
@media screen and (max-width: 767px) {
  .headerSearch {
    display: none;
  }
}

.headerSearch form {
  width: 100%;
  height: 100%;
  border-radius: 3.125rem;
  border: 0.0625rem solid var(--color-primary);
  box-sizing: border-box;
}

.headerSearch button {
  width: 0.875rem;
  height: 100%;
  padding: 0.0625rem 1.4375rem 0.0625rem 1.25rem;
}
.headerSearch i {
  color: var(--color-pointgray);
}
.headerSearch input {
  width: 15.625rem;
  height: 100%;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .headerSearch input {
    width: 8.25rem;
  }
}

/* title - info*/
.infoWrap {
  float: right;
  display: flex;
  justify-content: space-between;
  width: 12.1875rem;
  height: 100%;
}

.noticeWrap {
  display: flex;
  justify-content: center;
  width: 9.0625rem;
}
.noticeWrap li {
  width: 1.25rem;
  height: 100%;
}
.noticeWrap li:first-child {
  margin-right: 1.25rem;
}
.noticeWrap i {
  width: 100%;
  height: 100%;
  font-size: var(--font-size-basic);
  color: var(--color-pointGray);
}

.Headeruser {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.5625rem;
  background-color: var(--color-primary);
}
.Headeruser .Link {
  text-align: center;
  line-height: 2.5rem;
}
.Headeruser i {
  font-size: var(--font-size-big);
  color: var(--color-white);
}
