/*login ==========================================*/
.loginWrap,
.adduserWrap {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
}
/*wide PC version*/
@media screen and (min-width: 1200px) {
  .loginWrap,
  .adduserWrap {
    padding: 0 3rem;
  }
}

.loginWrap {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
}
.loginBox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 1.875rem;
  width: 37.5rem;
  height: 25rem;
  transition: all 300ms ease-in;
}
@media screen and (max-width: 767px) {
  .loginBox {
    padding: 0.625rem;
    padding-top: 4.5rem;
    width: 18.75rem;
    height: 30.25rem;
  }
}
.formLayout {
  width: 100%;
  height: auto;
}
.commonBox h3 {
  display: block;
  font-size: 1.875rem;
  font-family: var(--font-point);
  color: var(--color-primary);
  padding: 1.25rem 0 2.5rem;
  text-transform: uppercase;
}
.formLayout input {
  width: 100%;
  height: 3.125rem;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  border-bottom: 0.0625rem solid var(--color-gray);
  margin-bottom: 1.25rem;
}
.formLayout input:focus {
  transition: all 300ms ease-in;
  border-bottom: 0.0625rem solid var(--color-primary);
  background-color: var(--color-gray);
}
.loginBtn {
  width: 100%;
  height: 2.5rem;
  background-color: var(--color-gray);
  border-radius: 0.3125rem;
  transition: all 300ms ease-in;
  color: var(--color-black);
  margin-bottom: 1.25rem;
  /* margin-top: 2.5rem; */
  outline: none;
}
.loginBtn:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.loginBtn:focus {
  background-color: var(--color-pointgray);
  color: var(--color-white);
  box-shadow: var(--styles-boxShadow);
}
.LoginLinkWrap {
  display: flex;
  justify-content: center;
}
.LoginLinkWrap .link {
  padding: 0.25rem 0.75rem;
  transition: all 300ms ease-in;
  outline: none;
  font-size: var(--font-size-small);
  font-weight: 300;
}
.LoginLinkWrap .link:hover {
  border-radius: 0.3125rem;
  background-color: var(--color-gray);
}
.LoginLinkWrap .link:focus {
  background-color: var(--color-gray);
  border-radius: 0.3125rem;
  font-weight: 400;
}

/*addUser ==========================================*/
.formCommonWrap {
  margin: 0 auto;
  width: 80%;
  min-width: 23.75rem;
}
.formBox {
  padding: 3.25rem;
  padding-top: 3rem;
}

@media screen and (min-width: 1200px) {
  .formCommonWrap {
    margin: 0 auto;
    width: 50rem;
  }
  .formBox {
    padding: 3.25rem;
    padding-top: 3rem;
  }
}
