.navigationWrap {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 16.875rem;
  height: 100%;
  background-color: var(--color-white);
  transition: all 500ms ease-in;
  box-shadow: var(--styles-boxShadow);
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .navigationWrap {
    width: 20vw;
  }
}
@media screen and (min-width: 1200px) {
  .navigationWrap {
    width: 16.875rem;
  }
}

.navigationWrap.hide {
  left: -16.875rem;
}
.navigationWrap.show {
  left: 0;
}

/*title - navTop*/
.navTop {
  width: auto;
  height: auto;
  margin: 1.875rem;
}
@media screen and (max-width: 767px) {
  .navTop {
    padding: 1.875rem;
  }
}

.navTop img {
  width: 6.25rem;
  height: 1.1875rem;
}

.navTop button {
  position: absolute;
  top: 1.875rem;
  right: 1.875rem;
  width: 2.5rem;
  height: 2.5rem;
}

.navTop i {
  font-size: var(--font-size-big);
}

@media screen and (min-width: 992px) {
  #nav_close_btn {
    display: none;
  }
}

/*title - navBottom*/
.navBottom {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.navBottom ul {
  width: 100%;
  height: auto;
}
.navBottom li {
  width: 15.625rem;
  height: auto;
  min-height: 2.125rem;
  margin-right: 1.25rem;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .navBottom li {
    width: 100%;
  }
}

/*title - navInner : 링크로 연결되는 nav button*/
.navInner {
  padding-right: 1.5625rem;
  margin-top: 1.5625rem;
  margin-left: 1.875rem;
}

/*title - navInner : 하위 메뉴가 열리는 nav button*/
.navInnerSub {
  width: 100%;
  height: auto;
  padding: 0;
  padding-right: 1.5625rem;
  margin-top: 1.5625rem;
  margin-left: 1.875rem;
  text-align: left;
}

.navSubList ul {
  width: 11.25rem;
  margin-left: 1.875rem;
  padding-bottom: 0.3125rem;
}
.navSubList li {
  width: 100%;
  height: auto;
  line-height: 2.5625rem;
}
.navSubList > div {
  position: relative;
}

.navSubList > div:first-child:after,
.navSubList > div:first-child::after {
  display: block;
  content: "";
  position: absolute;
  right: 1.25rem;
  top: 0.625rem;
  width: 0.4375rem;
  height: 0.4375rem;
  border-top: 0.0625rem solid var(--color-pointgray);
  border-left: 0.0625rem solid var(--color-pointgray);
  transform: rotate(135deg);
  transition: all 300ms ease-in;
}

.sub_show_btn {
  width: 100%;
  height: auto;
}
.sub_show_btn > div:first-child:after,
.sub_show_btn > div:first-child::after {
  transform: rotate(225deg);
}

.subLink {
  text-decoration: none;
  font-family: var(--font-point);
  font-size: var(--font-size-small);
}

/*title - navPart - navInner를 이루는 조각*/
.navPart {
  width: 100%;
  height: auto;
}

.navPart div {
  display: inline-block;
  width: 2.125rem;
  height: 2.125rem;
  padding-top: 0.625rem;
}
.navPart img {
  width: 0.875rem;
  height: 0.875rem;
}
.navPart span {
  font-family: var(--font-point);
  color: var(--color-black);
  font-size: var(--font-size-basic);
  font-weight: 400;
}
