#sale section > div {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
@media screen and (min-width: 992px) {
  #sale {
    display: flex;
    flex-wrap: wrap;
  }
  #sale > div {
    width: 66.6666%;
    height: auto;
  }
}

/* sale section pc와 mob&tab 영역의 사이즈가 동일한 컴포넌트*/
.downloadReport {
  width: 100%;
  height: 8.1875rem;
}
.revenue {
  width: 100%;
  height: 22.9375rem;
}

/* sale section pc 컴포넌트*/
@media screen and (min-width: 992px) {
  .accountInfo {
    width: 33.3333%;
    height: 27.75rem;
  }
  .dailySales {
    width: 33.3333%;
    height: 15.125rem;
  }
  .kalender {
    width: 33.3333%;
    height: 32.875rem;
  }
  .marketValus {
    width: 66.6666%;
    height: 32.75rem;
  }
  .monthlyInvoice {
    width: 50%;
    height: 31.875rem;
  }
  .newsAndUpdate {
    width: 33.3333%;
    height: 27.75rem;
  }
  .popularProducts {
    width: 33.3333%;
    height: 32.75rem;
  }
  .summary {
    width: 33.3333%;
    height: 15.125rem;
  }
  .topGlobalSales {
    width: 66.6666%;
    height: 32.875rem;
  }
  .topSellingProduct {
    width: 50%;
    height: 31.875rem;
  }
  .totalOrder {
    width: 33.3333%;
    height: 15.125rem;
  }
  .totalSalesUnit {
    width: 33.3333%;
    height: 32.25rem;
  }
  .transaction {
    width: 33.3333%;
    height: 27.75rem;
  }
}

/* sale section mob&tab 컴포넌트*/
@media screen and (max-width: 991px) {
  .accountInfo {
    width: 100%;
    height: 27rem;
  }
  .dailySales {
    width: 100%;
    height: 14.0625rem;
  }
  .kalender {
    width: 100%;
    height: 32.875rem;
  }
  .marketValus {
    width: 100%;
    height: 32.75rem;
  }
  .monthlyInvoice {
    width: 100%;
    height: 31.875rem;
  }
  .newsAndUpdate {
    width: 100%;
    height: 26.5rem;
  }
  .popularProducts {
    width: 100%;
    height: 30rem;
  }
  .summary {
    width: 100%;
    height: 13.75rem;
  }
  .topGlobalSales {
    width: 100%;
    height: 38.75rem;
  }
  .topSellingProduct {
    width: 100%;
    height: 31.25rem;
  }
  .totalOrder {
    width: 100%;
    height: 15.125rem;
  }
  .totalSalesUnit {
    width: 100%;
    height: 32.25rem;
  }
  .transaction {
    width: 100%;
    height: 27.75rem;
  }
}

/*title - section : Revenue - table */
/*Sale의 기본 틀 사이즈는 위에 작성되어있기 때문에 건들지 않는다.*/

.revenueSaleBox {
  position: relative;
  width: 100%;
  height: auto;
  padding: 1.25rem;
}
.tableScroll {
  overflow: scroll;
  width: 100%;
  height: 15.3125rem;
}
.tableScroll table {
  width: 100%;
  height: auto;
}
/* .tableScroll thead {
  position: absolute;
  background-color: #fff;
  width: 100%;
  top: 0;
  left: 0;
} */
.tableScroll thead th {
  width: auto;
}
.revenueSaleBox tbody {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .revenueSaleBox th:nth-child(4),
  .revenueSaleBox td:nth-child(4) {
    display: none;
  }
}
@media screen and (min-width: 520px) and (max-width: 767px) {
  .revenueSaleBox th:nth-child(3),
  .revenueSaleBox th:nth-child(4),
  .revenueSaleBox td:nth-child(3),
  .revenueSaleBox td:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 520px) {
  .revenueSaleBox th:nth-child(3),
  .revenueSaleBox th:nth-child(4),
  .revenueSaleBox td:nth-child(3),
  .revenueSaleBox td:nth-child(4) {
    display: none;
  }
}
/*more view btn*/
.tabelLink {
  position: absolute;
  bottom: 1.25rem;
  right: 1.25rem;
  width: 7.5rem;
  height: 1.875rem;
  line-height: 1.875rem;
  text-align: center;
  border-radius: 0.3125rem;
  transition: all 300ms ease-in;
}
.tabelLink::before {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  width: 0;
  height: 0.125rem;
  background-color: var(--color-primary);
  transition: all 300ms ease-in;
}
.tabelLink:hover.tabelLink::before,
.tabelLink:focus.tabelLink::before {
  width: 100%;
}
.tabelLink:focus {
  font-weight: 400;
}
