.tableWrap {
  width: 100%;
  height: auto;
  padding: 0 0.75rem;
}
.tableBox {
  width: 100%;
  height: auto;
  padding: 0.625rem 0.625rem 2.5rem;
}
.tableBox table {
  width: 100%;
  height: auto;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 520px) {
  .tableBox th:nth-child(4),
  .tableBox td:nth-child(4) {
    display: none;
  }
}
.tableBox thead {
  width: 100%;
  height: 3.4375rem;
}
.tableBox tbody tr {
  width: 100%;
  height: 2.8125rem;
}

/*btn 영역*/
.tableBtn {
  display: flex;
  justify-content: center;
  width: auto;
}
.tableBtn li {
  width: 1.875rem;
  height: 1.875rem;
  margin: 0 0.125rem;
}
.tableBtn button {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0.3125rem;
  transition: all 300ms ease-in;
}
.tableBtn button.active {
  border: 1px solid var(--color-primary);
}
.tableBtn button:hover {
  background-color: var(--color-gray);
}
.tableBtn i {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 0.3125rem;
}
