/*common --------------------------------------------------------------*/
:root {
  --color-black: #000;
  --color-lightblack: #312f30;
  --color-bgblack: #757575;
  --color-white: #fff;
  --color-gray: #bdbdbd;
  --color-bggray: #f6f5f4;
  --color-primary: #167d88;
  --color-darkprimary: #084b60;
  --color-acceent: #fec756;
  --color-acceent2: #da3933;
  --font-point: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
  --font-size-small: 0.75rem;
  --font-size-basic: 0.875rem;
  --font-size-em: 1rem;
  --font-size-subtitle: 1.375rem;
  --font-size-title: 1.625rem;
  --styles-boxShadow: 0 0.75rem 1.875rem rgb(80 143 244 / 10%);
  --styles-boxShadowDeep: 0 0.1875rem 0.6875rem rgb(0 0 0 / 17%);
}
